/* @font-face {
   font-family: "SourceSansPro";
   src: local("Source Sans Pro");
   url(../fonts/);
}
 */
html, body {
   height: 100%;
   overflow-x: hidden;
}

/* @media (min-width: 420px) {
  .container {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}


@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
} */

.header {
   position: relative;
   font-weight: bold;
   box-shadow: 0px 1px 0px 0px #e6e9ed;
}

.replace-header span {
   position: absolute;
   top: 0;
   left: 15;
   display: block;
   width: 170px;
   height: 112px;
   background: url("../image/logo.png") no-repeat;
}

/* <img src="./image/logo.png" alt="REEN"> */
.main {
   min-height: 100%;
   padding: 112px 0 447px;
}

.carousel-inner {
   padding: 0;
}

.item h2 {
   margin-bottom: 12px;
   font: 900 78px/88px Lato;
   letter-spacing: 0.06em;
}

.item p {
   color:  #a3b1bf;
   font-size: 24px;
   letter-spacing: 0.48px;
   line-height: 33px;
}

.first-slide { 
   height: 800px;
   background-image: url(../image/main-slider/main-slide-1.jpg);
 }

.second-slide { 
   height: 800px;
   background-image: url(../image/main-slider/main-slide-2.jpg);
}

.third-slide { 
   height: 800px;
   background-image: url(../image/main-slider/main-slide-3.jpg);
}

.fourth-slide { 
   height: 800px;
   background-image: url(../image/main-slider/main-slide-4.jpg);
}

.fifth-slide { 
   height: 800px;
   background-image: url(../image/main-slider/main-slide-5.jpg);
}

.first-item {
   margin-top: 243px;
}

.second-item {
   margin-top: 200px;
}

.third-item {
   margin-top: 184px;
}

.fourth-item {
   margin-top: 64px;
}

.fifth-item {
   margin-top: 40px;
}

.third-item h2, .fourth-item h2 {
   padding-left: 40px;
   margin-top: 0;
   margin-bottom: 6px;
   font: 900 73px/124px Lato;
   letter-spacing: 0.04em;
   background-color: #506a85;
}

.third-item div:first-child h2 {
   width: 520px;
}

.third-item div:nth-child(2) h2{
   width: 690px;
   margin-bottom: 27px;
}

.third-item p {
   color: #506a85;
}

.fourth-item h2 {
   padding: 0 38px 0 0;
}

.fourth-item div:first-child h2 {
   width: 670px;
}

.fourth-item div:nth-child(2) h2{
   margin-bottom: 27px;
}

.slider-button {
   width: 295px;
   height: 65px;
   margin-top: 52px;
   font-size: 18px;
   font-weight: bold;
   line-height: 50px;
   letter-spacing: 0.03em;
   vertical-align: top;
   border-radius: 3px;
   box-shadow: inset 0 -2px rgba(0,0,0,.15);
} 

.control {
   line-height: 60px;
   background-color: #506a85;
   border-radius: 3px;
   opacity: 0.3;
}

.control:hover, .control:focus {
   opacity: 0.7;
}

.who-we-are {
   margin-top: 168px;
   margin-bottom: 48px;
}

.who-we-are h3,
.latest-works h3,
.get-in-touch h3 {
   line-height: 54px;
   letter-spacing: 0.01em;
   margin-bottom: 25px;
}

.who-we-are p,
.latest-works p,
.get-in-touch p {
   font-size: 22px;
   line-height: 34px;
   letter-spacing: 0.01em;
}

.modal__get-in-touch {
   margin-top: 12px;
   font-size: 18px;
   list-style: none;
}

.modal__get-in-touch li {
   margin-bottom: 8px; 
}

.modal__get-in-touch .map span,
.modal__get-in-touch .phone span,
.modal__get-in-touch .mail span {
   font-size: 20px;
   margin-right: 15px;
}

.request {
   color: #00bc9c;
}

.modal-body {
   text-align: left;
}

.modal-body p {
   margin-top: 20px;
   font-size: 20px;
}

#clientNumber {
   width: 200px;
   margin: 20px 10px;
}

.internals {
   margin-bottom: 115px;
}

.internals h5 {
   line-height: 34px;
   letter-spacing: 0.02em;
   margin-bottom: 20px;
}

.internals p {
   font-size: 16px;
   line-height: 25px;
   letter-spacing: 0.01em;
}

.internals > :nth-child(odd) {
   margin-top: 10px;
   font-size: 72px;
   color: #00bc9c;
}

.latest-works {
   padding: 99px 0 187px;
   background-color: #f2f5f7;
}

.big-work figcaption {
   width: 570px;
   height: 112px;
   margin: 0 auto;
   padding: 20px 0;
   letter-spacing: 0.025em;
   background-color: #fff;
   border-radius: 3px;
   box-shadow: inset 0 -1px 0 1px #e6e9ed;
}

.big-work figcaption h6 {
   font-size: 20px;
   margin-bottom: 8px;
}

#carousel-bottom .carousel-indicators {
   width: auto;
   min-width: 90px;
   background-color: transparent;
   bottom: -54px;
}

#carousel-bottom .carousel-control {
   top: auto;
   bottom: -67px;
   left: 42%;
   width: 16%;
   min-width: 155px;
}

#carousel-bottom .carousel-control .glyphicon-chevron-left,
#carousel-bottom .carousel-control .glyphicon-chevron-right {
   width: 30px;
   height: 30px;
   line-height: 30px;
   font-size: 20px;
}

.work {
   position: relative;
   /* width: 270px;
   height: 185px; */
   margin: 15px auto 0;
}

.big-work {
   position: relative;
/*    width: 570px; */
   margin: 63px auto 65px;
}
.thumbnail {
   border: none;
   padding: 0;
}
.big-work figcaption {
   width: 100%;
}

.big-work a::after,
.work a::before,
.work a::after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   color: #fff;
   background-color: #0fb79a;
   opacity: 0;
}

.big-work a::after {
   height: calc(100% - 112px);
   content: "+";
   padding: 30%;
   font-size: 34px;
}

.work a::before {
   padding: 26% 0;
   content: attr(data-alt);
   font: 600 16px/16px Lato;
   letter-spacing: 0.03em;
}

.work a::after {
   padding: 35% 0; 
   content: "Identity";
   font-size: 14px;
   background-color: transparent;
}

.big-work a:hover:after,
.work a:hover:before,
.work a:hover:after {
   opacity: 0.8;
}

.get-in-touch {
   padding: 100px 0 130px;
}

.button {
   width: 150px;
   margin-top: 24px;
   font-weight: bold;
   line-height: 35px;
   border-radius: 3px;
   background-color: #00bc9c;
   box-shadow: inset 0 -2px rgba(0,0,0,.15);
}

.footer {
   height: 447px;
   margin-top: -447px;
   color: #a3b1bf;
   background-color: #2f4052;
}

.footer__upper-block h6 {
   margin-bottom: 20px;
   color: #fff;
   font-size: 16px;
   letter-spacing: 0.09em;
}

.footer__upper-block p {
   font-size: 14px;
   line-height: 22px;
   letter-spacing: 0.02em;
   margin-bottom: 15px;
}

.more {
   color: #a3b1bf;
   font-weight: 600;
   line-height: 22px;
   letter-spacing: 0.02em;
}

.more::after {
   content: " \2192";
   font-size: 12px;
   margin-left: 5px;
}

.footer-logo {
   position: relative;
   display: block;
   width: 129px; 
   height: 32px;
   margin: 25px 0 20px;
}

.footer-logo::after {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   content: "";
   background-color: #2f4052;
   background-image: url("../image/footer/footer-logo-hover.png");
   opacity: 0;
}

.footer-logo:hover:after { 
   opacity: 1;
}

.footer__latest-works {
   font-size: 0;
}

.footer__latest-works a {
   position: relative;
   display: inline-block;
   width: 125px;
   height: 85px;
   margin: 5px 5px 0 0;
   text-align: center;
}

.footer__latest-works a::after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 85px;
   content: "+";
   font-size: 34px;
   line-height: 85px;
   color: #fff;
   background-color: #0fb79a;
   opacity: 0;
}

.footer__latest-works a:hover:after {
   opacity: 0.8;
}

.footer__get-in-touch a {
   display: block;
}

.map span,
.phone span,
.mail span {
   font-size: 12px;
   margin-right: 7px;
}

.subscribe-form .form-control {
   position: relative;
   width: 270px;
   height: 40px;
}

.subscribe-btn {
   position: absolute;
   top: 5px;
   bottom: 5px;
   right: 5px;
   font-weight: 600;
   line-height: 15px;
   letter-spacing: 0.06em;
   padding: 6px;
   z-index: 10;
}

.footer__upper-block {
   height: 364px;
   padding-top: 61px;
   overflow: hidden;
}

.footer__ending {
   height: 83px;
   background-color: #283645;
}

.copyright,
.footer-nav li {
   color: #707e8c;
   font-size: 14px;
   line-height: 83px;
   letter-spacing: 0.02em;
   margin-bottom: 0;
}

.footer-nav {
   font-size: 0;
   margin-bottom: 0;
}

.footer-nav li:not(:last-child)::after {
   content: "·";
   margin: 0 9px 0;
}
